USE [DoctorLicenseDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDoctors]    Script Date: 11-04-2026 19:20:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetDoctors]
(
	@Search   NVARCHAR(100) = NULL,
    @Status   INT           = NULL,
    @Page     INT           = 1,
    @PageSize INT           = 10
)
AS
BEGIN
    SET NOCOUNT ON;

    --SELECT 
    --    Id,
    --    FullName,
    --    Email,
    --    Specialization,
    --    LicenseNumber,
    --    LicenseExpiryDate,
    --    LicenseStatus,
    --    CreatedDate
    --FROM Doctor;
	SET NOCOUNT ON;

    DECLARE @Offset INT = (@Page - 1) * @PageSize;

    -- Result set 1: paged doctors
    SELECT
        Id, FullName, Email, Specialization,
        LicenseNumber, LicenseExpiryDate, LicenseStatus
    FROM Doctor
    WHERE
        (@Search IS NULL OR FullName LIKE '%' + @Search + '%'
                         OR LicenseNumber LIKE '%' + @Search + '%')
        AND
        (@Status IS NULL OR LicenseStatus = @Status)
    ORDER BY FullName
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;

    -- Result set 2: total count
    SELECT COUNT(*)
    FROM Doctor
    WHERE
        (@Search IS NULL OR FullName LIKE '%' + @Search + '%'
                         OR LicenseNumber LIKE '%' + @Search + '%')
        AND
        (@Status IS NULL OR LicenseStatus = @Status);
END
 
